language: ruby
rvm:
- 2.6.3
before_script:
- bundle exec rake db:create --all
- bundle exec rake db:migrate
services:
- postgresql
deploy:
  provider: heroku
  api_key:
    secure: QeljIUU1Oh3rTinoqT8R2CdKZeNKSnQrHkGid0CCgUNFTpSyDTm6TJXdOZcYTxnryTk/He9V/ZL7/kf2XlxFX3LJSIKcFKmcBxXHYpy4TQ8pmDyhgpzl+VCPtoR0VFbyB0mloyaoSmVw1RFm8e0vxfW+S5xrijc2EFOzY+n43UIPfsRrqPistwyPEDyyddidYFli2P271B3wP7uSYjrZeImuVBFxlXNHpichkb9qZq2mFcswvIWRdLgFQRYtlIjWfOQgaXp3KHpM8Xtn6SzBMICPdzuDXfY6DYCtdawWF5WOuyz5nwPyaX8ilZYlzoqn0iXpQO1D6jScQbmvEKcFm5komAua8UP2rJ1dtCcBaGmokSlraLsSaVKdwWNJ5VZ2mgOIDdgqOeawHXS/nQ1NoD/X4w+6fpRfGmrt1TXgBoWCAuv4TdJ17Pr37UrsiSxEWdiGT3Uawo1tEPstLaoNLD9rEC/wpvhSYXXaosHkM/dKFPy5QUKQXIDNEU5LFY7UpnM3CguvaleensP6pRF5phXHfkFwyMCFOHDzB7IgLJjK0SsqgssE+CZbip5BBf3W5DytSo/Jl30uHQuURhp/dSm41cv8nLtzqB+jWrvJFzUo6McOvhocD5c8wi3dKCRTkjzKniWk2ROsVCd3psfK6AtOtVWMNHxz0QNFQrKDXQU=
  app: fast-tundra-51600
  on:
    repo: pschlatt/Koroibos
